body{
    text-align: center;
}
table{
   
    border: 1px solid grey;
   
}
@media(max-width: 800px){
    
    .container{
        margin-left: 2rem;
    }
}

@media(max-width: 650px){
    table{
        font-size: x-small;
    }
    .container{
        margin-left: 0.5rem;
    }
}

@media(max-width: 450px){
    table{
        font-size: xx-small;
    }
    .container{
        margin-left: 0.5rem;
    }
   
}

@media(max-width: 350px){
    table{
        font-size: 50px;
    }
    .container{
        margin-left: 0;
    }
}